@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #cfc4bf;
}

nav div,
nav a {
  color: #362121;
}

#navbar-fix {
  background-color: rgba(236, 236, 236, 0.7);
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0px;
  left: 0px;
  padding: 8px 0px;
  margin: 0;
  box-shadow: 3px 3px 3px rgba(44, 44, 44, 0.5);
}

#navbar,
#navbar-fix {
  height: 40px;
}

#navbar-fix > div {
  float: left;
  width: 14%;
  text-align: center;
  margin: 0;
  padding: 0;
  border-left: 2px #718a86 solid;
}

a {
  vertical-align: bottom;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #fff;
}

#navbar-fix > div:first-child {
  border: none;
}

header,
main,
#sidebar {
  position: relative;
  overflow: hidden;
  padding: 40px 50px;
  box-shadow: 5px 5px 3px 1px rgba(44, 44, 44, 0.5);
}

header::before,
main::before,
#sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(255, 0, 0, .5); */
  z-index: -1;
  filter: blur(20px);
  margin: -30px;
  box-shadow: 3px 3px 3px rgba(44, 44, 44, 0.5);
}

input {
  text-align: center;
}

header,
main,
#sidebar {
  margin: 20px;
  height: 100%;
}

#code {
  background: transparent;
  color: whitesmoke;
  width: 80%;
  height: 30vh;
}

h3,
header,
legend {
  text-align: center;
  color: #dddddd;
}

legend {
  border: 2px solid #fff;
}

.button {
  margin: 20px;
  text-align: center;
}
.button #button {
  background: white;
  color: #363029;
  /* text-shadow: black 3px 3px 3px; */
  /* border: 2px white solid; */
  font-weight: bold;
  height: 40px;
  width: 240px;
  padding: 2px;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}
.button #button:hover {
  color: #fff;
  background-color: #363029;
  border: 1px solid #363029;
}

fieldset > div {
  margin: 30px 0;
}
fieldset > div div {
  transition: 0.5s;
}

.hide {
  width: 0;
  height: 0;
  overflow: hidden;
}

fieldset:first-child input,
fieldset:first-child select,
fieldset:first-child option {
  width: 250px;
  height: 40px;
  background-color: transparent;
  border: #fff 3px solid;
  box-shadow: 3px 3px 3px rgba(44, 44, 44, 0.5);
}

#success {
  display: none;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: green;
}

h2 {
  text-align: center;
}

.main-element {
  width: 66.66%;
  position: relative;
  float: left;
}

.side-element {
  width: 33.33%;
  position: fixed;
  right: 0;
  height: 90vh;
}

#check-score {
  border: 2px white solid;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
}
#check-score:hover {
  background-color: #413d2f;
  border: 2px #413d2f solid;
}

fieldset:not(#field1) input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

#result-table {
  width: 100%;
  overflow: scroll;
  margin: 30px 0;
}

th {
  background-color: burlywood;
  color: rgba(131, 64, 64, 0.5);
  border: none;
  overflow: scroll；;
}

td {
  background-color: rgba(131, 64, 64, 0.5);
  text-align: center;
  border: none;
  color: #fff;
}

.scroll {
  height: 100%;
  overflow: auto;
}

@media (min-width: 997px) {
  body,
  header::before,
  main::before,
  #sidebar::before {
    background: url("/img/Fabric-mid.jpg") 0/cover fixed;
  }

  div,
  input {
    font-size: 25px;
  }

  fieldset,
  #table {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: #fff 2px solid;
  }

  fieldset:nth-child(1),
  fieldset:nth-child(4) {
    width: 60%;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 2.6em;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    color: #3f3939;
    text-shadow: 2px 2px 1px rgba(44, 44, 44, 0.3);
    border-bottom: 3px solid #724040;
  }
}
@media (max-width: 996px) and (min-width: 550px) {
  body,
  header::before,
  main::before,
  #sidebar::before {
    background: url("/img/Fabric-mid.jpg") 0/cover fixed;
  }

  div,
  input {
    font-size: 18px;
  }

  #time {
    white-space: nowrap;
  }

  h1 {
    font-size: 1.6em;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    color: #3f3939;
    text-shadow: 2px 2px 1px rgba(177, 177, 177, 0.3);
    border-bottom: 3px solid #724040;
  }

  fieldset,
  #table {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #fff 2px solid;
  }

  fieldset:nth-child(1),
  fieldset:nth-child(4) {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .main-element {
    width: 100%;
  }

  .side-element {
    width: 100%;
    position: relative;
    right: none;
    height: 50vh;
  }
}
@media (max-width: 549px) {
  #navbar,
  #navbar-fix {
    height: 60px;
  }

  #navbar-fix div {
    height: 40px;
  }

  body,
  header::before,
  main::before,
  #sidebar::before {
    background: url("/img/Fabric-small.jpg") 0/cover fixed;
  }

  fieldset:first-child input,
  fieldset:first-child select,
  fieldset:first-child option {
    width: 160px;
    height: 30px;
    background-color: transparent;
    border: #fff 3px solid;
    box-shadow: 3px 3px 3px rgba(44, 44, 44, 0.5);
  }

  div,
  input {
    font-size: 18px;
  }

  h1 {
    font-size: 1.2em;
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
    color: #3f3939;
    text-shadow: 2px 2px 1px rgba(177, 177, 177, 0.3);
    border-bottom: 3px solid #724040;
  }

  fieldset,
  #table {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #fff 2px solid;
  }

  fieldset:nth-child(1),
  fieldset:nth-child(4) {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .main-element {
    width: 100%;
  }

  .side-element {
    width: 100%;
    position: relative;
    right: none;
    height: 50vh;
  }

  #button {
    font-weight: bold;
    height: 40px;
    width: 180px;
    padding: 2px;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
  }
}

/*# sourceMappingURL=style.css.map */
